{% extends 'base.html' %}
{% block title %}<title>About-FaceRank-Beta</title>{% endblock %}
{% block body %}
<body>
<br>
		<div class="panel panel-warning">
				<div class="panel-heading">
						<p><font size="5" face="Arial Black Gadget, sans-serif">为什么选择人脸颜值评分系统？</font></p>
				</div>
				<div class="panel-body">
						<p><font size="4.5" face="Arial, Helvetica, sans-serif"> Kindy: "一千个观众眼中就有一千个哈姆雷特。"</font></p>
						<p><font size="4.5" face="Arial, Helvetica, sans-serif">Peter: "张三眼中的'闭月羞花'到李四眼中可能也仅仅是'对得起观众'而已～"</font></p>
						<p><font size="4.5" face="Arial, Helvetica, sans-serif">Alice: "给我一张盛世美颜，我可以抛弃整个世界！"</font></p>
				</div>
		</div>
		<div class="panel panel-success">
				<div class="panel-heading">
						<p><font size="5" face="Arial Black Gadget, sans-serif">人脸颜值评分系统功能简介</font></p>
				</div>
				<div class="panel-body">
						<font size="4.5" face="Arial, Helvetica, sans-serif">人脸颜值评分系统项目是一个简易娱乐版的 Web 应用，用户可以通过上传自己的照片，后台根据相关算法技术给出这个用户的颜值评分，排行，以及得到相似脸谱的推荐，当然用户还可以为那些你眼中的盛世美颜或是有趣脸谱进行点赞。</font>
				</div>
		</div>
		</br>
		</br>
</div>
</body>
</html>
{% endblock %}