{% extends 'base.html' %}
{% block title %}<title xmlns="http://www.w3.org/1999/html">ID-{{ image.id }}-人脸颜值评分系统-Beta</title>{% endblock %}

{% block body %}
            <div class="alert alert-success" role="alert">以下图片仅用于收集面部数据，请勿以商业方式使用！若以下照片令您感到不安，请联系本站管理员。</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">评测编号 #{{ image.id }}</h3>
                        </div>
                        <div class="panel-body">
                            <div name="image" style="text-align:center;"><img src="/static/upload/{{ image.file_name }}" height="384" width="288" class="img-thumbnail"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">图片信息</h3>
                        </div>
                        <div class="panel-body">
                            <div class="progress">
                              {% if fpp_info %}
                                {% if fpp_info.beauty > 80 %}
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ fpp_info.beauty }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fpp_info.beauty }}%">
                                    {{ fpp_info.beauty | floatformat:"2" }} / 100.0
                                </div>
                                {% elif fpp_info.beauty > 70 %}
                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ fpp_info.beauty }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fpp_info.beauty }}%">
                                    {{ fpp_info.beauty | floatformat:"2" }} / 100.0
                                </div>
                                {% else %}
                                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{ fpp_info.beauty }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fpp_info.beauty }}%">
                                    {{ fpp_info.beauty | floatformat:"2" }} / 100.0
                                </div>
                                {% endif %}

                              {% else %}

                                {% if face.face_score > 80 %}
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ face.point }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ face.face_score }}%">
                                    {{ face.face_score | floatformat:"2" }} / 100.0
                                </div>
                                {% elif face.face_score > 70 %}
                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ face.point }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ face.face_score }}%">
                                    {{ face.face_score | floatformat:"2" }} / 100.0
                                </div>
                                {% else %}
                                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{ face.point }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ face.face_score }}%">
                                    {{ face.face_score | floatformat:"2" }} / 100.0
                                </div>
                                {% endif %}

                               {% endif %}
                            </div>
                            <table class="table table-hover">
                              <tr>
                                  <td><strong>排名</strong></td>
                                  <td><strong>{{ rank }} / {{ count }}</strong></td>
                              </tr>

                              {% if fpp_info %}
                              <tr>
                                  <td>年龄</td>
                                  <td>± {{ fpp_info.age }}</td>
                              </tr>

                              <tr>
                                  <td>颜值</td>
                                  <td>{{ fpp_info.beauty | floatformat:"2" }} / 100.0</td>
                              </tr>
                              <tr>
                                  <td>笑容指数</td>
                                  <td>{{ fpp_info.smile }} / 100.0</td>
                              </tr>
                              <tr>
                                  <td>性别</td>
                                  <td> {% if fpp_info.gender == 0 %} 女 {% else %} 男 {% endif %}</td>
                              </tr>

                              {% else %}

                              <tr>
                                  <td>颜值-对称算法</td>
                                  <td>{{ face.face_score | floatformat:"2" }} / 100.0</td>
                              </tr>

                              {% endif %}
                              <tr>
                                  <td>文件名</td>
                                  <td>{{ face.image.file_name }}</td>
                              </tr>
                              <tr>
                                  <td>上传时间</td>
                                  <td>{{ face.image.created_at | date:'Y-m-d H:i:s'}}</td>
                              </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">特征点定位 #{{ image.id }}</h3>
                        </div>
                        <div class="panel-body">
                            <div name="image" style="text-align:center;"><img src="/static/upload/{{ image.file_name }}.detected.jpg" height="384" width="288" class="img-thumbnail"></div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}


