{% extends 'base.html' %}
{% block title %}<title>人脸颜值评分系统-Beta</title>{% endblock %}

{% block body %}
        <div class="jumbotron">
            <h1>人脸颜值评分系统</h1>
            <p>A project can extract facial landmark and evaluate the beauty of face, which is inspired by a book
                <a href="http://www.springer.com/gp/book/9783319325965" target="_blank"> <i>Computer Models for Facial Beauty Analysis</i></a>.
            </p>
            <p><a class="btn btn-primary btn-lg" href="/face" role="button">Learn More</a></p>
        </div>
{% endblock %}
