{% extends 'base.html' %}
{% block title %}<title>RankList-FaceRank-Beta</title>{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>点赞数</th>
                <th>文件名</th>
                <th>上传时间</th>
                <th>分数</th>
                <th>排名 (总共:{{ all }})</th>

            </tr>
        </thead>
        <tbody>
        {% for face in faces %}
            <tr>
                <td><a href="../face/{{ face.image_id }}"> {{ face.image_id }} </a></td>
                <td>
                    {% if face.like_count == 0 %} 无
                    {% else %} face.like_count
                    {% endif %}
                </td>
                <td>{{ face.image.file_name }}</td>
                <td>{{ face.image.created_at | date:'Y-m-d H:i:s'}}</td>
                <td>{{ face.face_score }}</td>
                <td>{{ forloop.counter }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div style="text-align: left">
         <span>总共 {{ faces.paginator.count }}</span> 条记录, <span>{{ faces.paginator.num_pages }}</span> 页
    </div>

    <div style="text-align: right">
        <ul class="pagination">
                {% if faces.has_previous %}
                <li><a href="?page={{ faces.previous_page_number }}&limit={{ limit }}">上一页</a></li>
                {% endif %}
                <li><a href="?page=1&limit={{ limit }}">首页</a></li>
        {% for page_number in page_range %}
            {% ifequal page_number  faces.number %}
                <li class="active"><a href="?page={{ page_number }}&limit={{ limit }}">{{ page_number }}</a></li>
            {% else %}
                <li><a href="?page={{ page_number }}&limit={{ limit }}">{{ page_number }}</a></li>
            {% endifequal %}
        {% endfor %}
                <li><a href="?page={{ faces.paginator.num_pages }}&limit={{ limit }}">未页</a></li>
                {% if faces.has_next %}
                <li><a href="?page={{ faces.next_page_number }}&limit={{ limit }}">下一页</a></li>
                {% endif %}
        </ul>
    </div>

{% endblock %}
